<!-- OVERLAY PARA CUANDO ABRIMOS EL PANEL -->
<div class="overlay" id="overlay"></div>

<!-- PANEL CARRITO -->
<aside class="panel" id="carritoPanel">
    <header>
        <h3><i class="fa-solid fa-bag-shopping"></i> Tu cesta</h3>
        <div class="close" id="closeCarrito" aria-label="Cerrar cesta">
            <i class="fa-solid fa-xmark"></i>
        </div>
    </header>

    <div class="content" id="articulosCarrito">
        <div class="cart-item" data-key="1_42">
            <div class="cart-item-info">
                <h4>Nike Air Max</h4>
                <p>Nike · Talla 42</p>
            </div>

            <div class="cart-item-actions">
                <span class="cart-qty">x1</span>
                <button class="cart-remove" title="Eliminar">
                    <i class="fa-solid fa-trash"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="summary">
        <div class="summary-row">
            <span>Artículos</span>
            <span id="totalItems">10</span>
        </div>
        <div class="summary-row">
            <span>Total</span>
            <span id="totalPrice">€0.00</span>
        </div>
        <button class="btn" type="button" id="btnFinalizaCompra" style="width: 100%"><i class="fa-solid fa-credit-card"></i> Finalizar
            compra</button>
    </div>
</aside>

<!-- PANEL LOGIN -->
<aside class="panel" id="loginPanel">
    <header></header>

    <div class="content"></div>
</aside>

<!-- PANEL REGISTRO -->
<aside class="panel" id="registroPanel">
    <header></header>

    <div class="content"></div>
</aside>